* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    color: #4A4A4A;
    font-family: Open Sans, sans-serif;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

#block1 {
    /* width: 100%; */
    height: 794px;   
    color: #ffffff;
    padding-top: 55px;  
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 69px;
    
    background: linear-gradient(0deg, rgba(255, 133, 22, 0.5), rgba(255, 133, 22, 0.5)), url(./images/bg_orange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


h2 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

#block2 h2, #block4 h2, #block6 h2{
    color: #000000;
}

#block3 h2, #block5 h2 {
    color: #ffffff;
}

.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    max-width: 120px;
}
.logo svg path {
    fill: #ffffff;
}
.human-img {
    width: 100%;
    height: 669px;
    margin: 0 auto;
    
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 25px;
}

.header__info {
    margin-top: -600px;
    padding: 55px 55px 15px 55px;
    display: flex;
    justify-content: space-between;
}
.header__icon {
    max-width: 100px;
}
.icon-img {
    max-height: 116px;
}
.icon-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.header__text {
    margin-top: 130px;
    max-width: 507px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}
.choose {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: 0.845em;
}
.flutter {
    font-family: Fira Sans;
    font-size: 128px;
    line-height: 128px;
}
.both {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.37em;
}

.header__btn {
    display: block;
    padding: 21px 52px;
    margin: 0 auto;
    margin-top: 45px;
    background-color: #ffffff;

    font-family: Open Sans, sans-serif;
    font-weight: 800;
    font-size: 17px;
    line-height: 23px;
    text-transform: uppercase;

    color: #4A4A4A;
    border: none;
    cursor: pointer;
}
.header__btn:hover {
    background: linear-gradient(90deg, #FC6F5C 0.72%, #FAA235 51.21%, #FB923B 99.57%);
}