* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    color: #4A4A4A;
    font-family: Open Sans, sans-serif;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
#block1, #block2,
#block3, #block4,
#block5, #block6 {
    padding-top: 55px;
    padding-bottom: 69px;
}
h2 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

#block2 h2, #block4 h2, #block6 h2{
    color: #000000;/*4A4A4A*/
}

#block3 h2, #block5 h2 {
    color: #ffffff;
}
/* start block 1 */
#block1 {
    height: 794px;   
    color: #ffffff;

    background: linear-gradient(0deg, rgba(255, 133, 22, 0.5), rgba(255, 133, 22, 0.5)), url(./images/bg_orange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: ???; - not universal for all blocks */
}
.logo {
    max-width: 120px;
}
#block1 .logo svg path {
    fill: #ffffff;
}
.human-img {
    width: 100%;
    height: 669px;
    margin: 0 auto;
    
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 25px;
}

.header__info {
    margin-top: -600px;
    padding: 55px 55px 15px 55px;
    display: flex;
    justify-content: space-between;
}
.header__icon {
    max-width: 100px;
}
.icon-img {
    max-height: 116px;
}
.icon-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.header__text {
    margin-top: 130px;
    max-width: 507px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}
.choose {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: 0.845em;
}
.flutter {
    font-family: Fira Sans;
    font-size: 128px;
    line-height: 128px;
}
.both {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.37em;
}
.big-btn{
    display: block;
    padding: 21px 52px;
    margin: 0 auto;
    font-family: Open Sans, sans-serif;
    font-weight: 800;
    font-size: 17px;
    line-height: 23px;
    text-transform: uppercase;
    color: #4A4A4A;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
}
.header__btn {  
    margin-top: 45px;
    background-color: #ffffff;
    border: none; 
}
.header__btn:hover {
    background: linear-gradient(90deg, #FC6F5C 0.72%, #FAA235 51.21%, #FB923B 99.57%);
}
/* end block 1  */
/* start block2 */
#block2 .logo svg path {
    fill: #000000;
}
#block2 .block-header {
    margin-bottom: 100px;
}
#block2 h2 {
    color: #4A4A4A;
    letter-spacing: 6px;

}
.small-btn {
    display: block;
    padding: 14px 40px;
    font-family: Open Sans, sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    
    cursor: pointer;
}
.block-header__btn { 
    color: #4A4A4A;
    background-color: #ffffff;
    border: 1px solid #4A4A4A;
}
.block-header__btn:hover {
    background: linear-gradient(90deg, #FC6F5C 0.72%, #FAA235 51.21%, #FB923B 99.57%);
}

.section-text {
    max-width: 765px;
    margin: 0 auto;
    margin-bottom: 65px;
    font-size: 19px;
    line-height: 24px;
    min-height: 200px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description__item {
    max-width: 341px;
    /* width: 100%; */ /*нужна ли тут?*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description__img { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 150px; /*default*/ /*нужны ли тут дефолтные значения????*/
    width: 100%;
    height: 150px;    /*__?__*/
    margin-bottom: 10px;
}
.about-img {
    max-width: 165px;
    height: 137px;
}
.for-img {
    max-width: 166px;
    height: 145px;
}
.why-img {
    max-width: 179px;
    height: 151px;
}
.description__title {
    font-family: Fira Sans;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FF7E03;
    margin-bottom: 25px;
}
.description__text {
    font-size: 17px;
    line-height: 24px;
    min-height: 101px;
}
/* end block 2 */
/* start block 3 */
#block3 {
    background-color: #353535;
    color: #ffffff;
    font-family: Fira Sans;
}
#block3 .block-header{
    margin-bottom: 80px;
}
#block3 .block-header h2 {
    font-weight: 500;
}
.event-info {
    border: 1px solid #ffffff;
    padding: 18px 200px 21px 70px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}
.event-info__line {
    display: flex;
    justify-content: space-between;
}
.event-info__line:first-child {
    margin-bottom: 50px;
}
.second-line {
    align-items: flex-end;
}
.event-info__item {
    width: 400px;
}

.event-info h3 {
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 30px;
}
.event-info__item p{
    font-size: 17px;
    line-height: 20px;
}
.event-info__item span {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    
    margin-bottom: 10px;
}
.address {
    padding-left: 25px;
    position: relative;
    margin-top: 15px;
}
.address::before {
    content: "";
    background-image: url(./images/location-icon.svg);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 18px;
    min-height: 25px;
}
.when-item p, 
.cost-item p {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 13.2778px;
    text-transform: uppercase;
    font-weight: normal;
    font-weight: 400;
}
.when-item p span,
.cost-item p span {
    font-weight: bold;
    font-size: 96px;
    line-height: 121px;
    letter-spacing: -0.08px;
}
.cost-item p span {
    text-transform: none;
}
/* end block 3 */
/* start block 4 */
#block4 .logo svg path {
    fill: #000000;
}
#block4 .block-header {
    margin-bottom: 65px;
}
#block4 .block-header h2 {
    font-family: Fira Sans;
    font-weight: 500;
    letter-spacing: 6px;
    padding-left: 20px;
}
#block4 .big-btn {
    background: linear-gradient(0deg, #FF7E03, #FF7E03);
    border: none;
    color: #ffffff;
}
/* end block 4 */
/* start block 5 */
#block5 {
    background: linear-gradient(0deg, rgba(255, 133, 22, 0.5), rgba(255, 133, 22, 0.5)), url(./images/bg_orange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 794px;
    color: #ffffff;
}
#block5 .logo svg path {
    fill: #ffffff;
}
#block5 .block-header {
    margin-bottom: 120px;
}
#block5 .section-text {
    min-height: 125px;
    font-weight: 400;
}
.todo-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 113px;
}
.todo-list__item {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

}
.todo-list__item ul {
    list-style: none;
}
.todo-list__description, 
.todo-list__description a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    margin-top: 16px;
}
.todo-list__description a {
    text-decoration: underline;
    color: #ffffff;
}
/* end block 5 */
/* start block 6 */
#block6 .logo svg path {
    fill: #000000;
}
#block6 .block-header {
    margin-bottom: 100px;
}
#block6 .block-header h2 {
    font-family: Fira Sans;
    font-weight: 500;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-left: 40px;
}
#block6 .section-text {
    min-height: 240px;
    max-width: 940px;
    font-weight: 200;
    font-size: 16px;
    color: #000000;
}
/* end block 6 */
/* start footer */
.footer {
    margin-bottom: 60px;
}
.footer__links {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 125px;
}
.footer__socials {
    display: flex;
    align-items: center;
}
.footer__socials a {
    height: 32px;
    width: 32px;
    margin-right: 25px;
    text-decoration: none;
}
.footer__socials .facebook {
    height: 36px;
    width: 18px;
}
.socials-text {
    color: #000000;
}
.explore {
    padding: 14px 32px;
    color: #ffffff;
    background: #FF7E03;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
}
.footer__contacts {
    display: flex;
    justify-content: space-between;
}
.footer__contacts span {
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.email {
    color: #FF7E03;
    font-size: 20px;
    text-decoration: none;
}
/* end footer  */