* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    color: #4A4A4A;
    font-family: Open Sans, sans-serif;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
#block1, #block2,
#block3, #block4,
#block5, #block6 {
    padding-top: 55px;
    padding-bottom: 69px;
}
h2 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

#block2 h2, #block4 h2, #block6 h2{
    color: #000000;/*4A4A4A*/
}

#block3 h2, #block5 h2 {
    color: #ffffff;
}